.container{
    width:36%;
    margin:0 auto;
    padding: 16px;
    background-color: #f1f1f1;
}
.box{
    border-radius:16px;
    margin:128px auto;
    padding:16px;
}

header{
    margin-bottom:8px;
}

.form-group{
    margin-bottom: 8px;
    padding-left:32px;
}
.form-control{
    border: 1px solid gray;
    border-radius:4px;
    height:32px;
    width:256px;
}

.login-options{
    padding-left:32px;
}


#email-login{
    border: 1px solid lightseagreen;
}
#email-login:hover{
    background-color: lightseagreen;
    color:white;
}
