<!-- Top of the application -->
<header>
  <h1>Business Card App</h1>
</header>
<section class="app-body">
  <aside class="sidebar-menu">
    <header>Menu</header>
    <ul class="sidebar-nav">
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/listofcards']">List All</a></li>
      <li><a [routerLink]="['/addcard']">Add Card</a></li>
      <li><a [routerLink]="['/search']">Search</a></li>
      <li><a [routerLink]="['/logout']">Logout</a></li>
    </ul>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</section>
