<p>businesscard component renders!</p>

<article class="b-card">
    <div class="profile-pic">
        <img src="{{this.getImageURL()}}" alt="blank profile pic">
    </div>
    <div class="info">
        <ul>
            <li>{{cardInfo.firstname}} {{cardInfo.lastname}}</li>
            <li>Company: {{cardInfo.company}}</li>
            <li>Phone #: {{cardInfo.phone}}</li>
            <li>Email  : {{cardInfo.email}}</li>
        </ul>
        
        <button class="delete-warning" (click)="deleteMyself()">delete me (be sure)</button>
        <button class="update-warning" (click)="updateCard()">update info</button>
    </div>
</article>
