.b-card{
    border: 1px solid lightblue;
    display:flex;
    padding: 8px;
    margin:8px;
    width:372px; /* Try Golden Ratio*/
    height: 128px;

}
.info{
    flex:3;
}
.profile-pic{
    flex:1;
    width: 128px;
    height: 128px;
}

.profile-pic > img{
    width: inherit;
    height: auto;
}

.update-warning{
    float: right;
}

.update-warning:hover{
    float: right;
    background-color: darkgoldenrod;
    color: white;
}

.delete-warning{
    float: right;
}
.delete-warning:hover{
    background-color: crimson;
    color: white;
}