
<h3>State of the final project</h3>

<table>
    <tr>
        <th style="min-width:150px">Goal</th>
        <th style="min-width:300px">State</th>
    </tr>
    <tr>
        <td>Login & Logout</td>
        <td><b>Works</b></td>
    </tr>
    <tr>
        <td>Guarded Routes</td>
        <td><b>Works</b></td>
    </tr>
    <tr>
        <td>Add by typing</td>
        <td><b>Works</b></td>
    </tr>
    <tr>
        <td>Add by SnapShot</td>
        <td><b>Does not work</b> : takes image, gets rejected at API call.</td>
    </tr>
    <tr>
        <td>Search</td>
        <td><b>Works</b></td>
    </tr>
    <tr>
        <td>Update</td>
        <td><b>Kinda works</b> : creates two items in the database with the same ID. I compared and contrasted with old examples and can't find the difference.</td>
    </tr>
    <tr>
        <td>Delete</td>
        <td><b>Kinda Works</b> : I can delete the duplicate records, but for some reason it wont delete the original.  Likely the same reference issue with my update method.</td>
    </tr>
    <tr>
        <td>Delete All</td>
        <td><b>Works</b> : Go figure...</td>
    </tr>
</table>
